ul {
  list-style: none;
}

.w-100 {
  width: 100%;
}

.p-1 {
  padding: 0.25em;
}

ion-content {
  --background: none;
  background: url(images/background.jpg) center;
  background-position-x: right;
  background-position-y: top;
  height: 100%;
}
 
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

ion-card {
  width: 100%;
  max-width: 50em;
  overflow-x: scroll;
  overflow-y: scroll;
}

ion-card-content {
  width: fit-content;
}

.title {
  display: flex;
  justify-content: center;
}

.title h2 {
  color: #073f88;
}

.root-list {
  padding-left: 0;
}

.root-list li {
  margin-left: 0;
  border-left: 2px dotted #07880d;
}

.task-childs ul li {
  display: flex;
  flex-direction: column;
  border-left: 2px dotted #07880d;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-left: 2.6em;
  margin-bottom: 0.5em;
}

ul li.color {
  border-left: none;
  border-radius: 10px;
}


ul li.color button {
  color: white;
  border: 1px solid white;
}

ul li.color button.expandable {
  color: black;
  border: 1px solid black;
}

ul li.color ul li {
  border-color: white;
}

ul li.red {
  background-color: #881007;
}
ul li.green {
  background-color: #07880d;
}
ul li.blue {
  background-color: #073f88;
}
ul li.pink {
  background-color: #d10d96;
}
ul li.orange {
  background-color: #d15d0f;
}
ul li.yellow {
  background-color: #bcbe15;
}

ul li {
  margin: 0.25em;
  padding: 0.5em;
  width: fit-content;
}

.task-header {
  border-radius: 5px;
  padding: 0 0.25em;
  background-color: #fefefe;
  width: fit-content;
}

.task-title {
  display: flex;
  align-items: center;
}

.task-title label {
  cursor: pointer;
}

.task-title input {
  margin-right: 0.25em;
}

.task-title h2.checked {
  text-decoration: line-through;
}

.task-title h2 {
  color: #141414;
}

.task-subtitle p {
  margin: 0;
  color: #545454;
  margin-left: 1.75em;
}

.task-subtitle p.checked {
  text-decoration: line-through;
}

button {
  background: none;
  outline: none;
  border-radius: 3px;
  border: 1px solid black;
}
